<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>上品茶城管理系统</title>
        <link rel="icon" href="" type="image/x-icon">
        <link href='/shangpinchacheng/app/templates/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <link href='/shangpinchacheng/app/templates/css/style.css' rel='stylesheet' type='text/css'>
        
        <script src='/shangpinchacheng/app/templates/bower_components/jquery/dist/jquery.min.js'></script>
    </head>
    <body>
        <header class="dashboard-header">
            <div class="container">
                <div class="col-xs-12">
                    <a href="/">上品茶城管理系统</a>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="col-xs-12">
                <form role="form">
                    <div class="form-group">
                        <label for="name">名称</label>
                        <input type="text" class="form-control" id="name" placeholder="商品名称">
                    </div>
                    <div class="form-group">
                        <label for="type">种类</label>
                        <input type="text" class="form-control" id="type" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="type">重量</label>
                        <input type="text" class="form-control" id="type" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="type">等级</label>
                        <input type="text" class="form-control" id="type" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="type">原价</label>
                        <input type="text" class="form-control" id="type" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="type">促销价</label>
                        <input type="text" class="form-control" id="type" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="type">购买链接</label>
                        <input type="text" class="form-control" id="type" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="type">状态</label>
                        <input type="text" class="form-control" id="type" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="type">是否热卖</label>
                        <input type="text" class="form-control" id="type" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
        
