<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>上品茶城管理系统</title>
        <link rel="icon" href="" type="image/x-icon">
        <link href='/app/templates/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <link href='/app/templates/css/style.css' rel='stylesheet' type='text/css'>
        
        <script src='/app/templates/bower_components/jquery/dist/jquery.min.js'></script>
    </head>
    <body>
        <header class="dashboard-header">
            <div class="container">
                <div class="col-xs-12">
                    <a href="/">上品茶城管理系统</a>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="col-xs-12">
                <form role="form">
                    <div class="form-group">
                        <label for="password">原密码</label>
                        <input type="password" class="form-control" id="password" placeholder="原密码">
                    </div>
                    <div class="form-group">
                        <label for="new-password">新密码</label>
                        <input type="password" class="form-control" id="new-password" placeholder="原密码">
                    </div>
                    <div class="form-group">
                        <label for="confirm-new-password">确认新密码</label>
                        <input type="password" class="form-control" id="confirm-new-password" placeholder="确认新密码">
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>