<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>上品茶城管理系统</title>
        <link rel="icon" href="" type="image/x-icon">
        <link href='/app/templates/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <link href='/app/templates/css/style.css' rel='stylesheet' type='text/css'>
        
        <script src='/app/templates/bower_components/jquery/dist/jquery.min.js'></script>
    </head>
    <body>
        <header class="dashboard-header">
            <div class="container">
                <div class="col-xs-12">
                    <a href="/">上品茶城管理系统</a>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="col-xs-12">
                <table class="table">
                    <caption>商品列表</caption>
                    <thead>
                        <tr><th>#</th><th>商品名称</th></tr>
                    </thead>
                    <tbody>
                        <tr><td>1</td><td>Mark</td></tr>
                        <tr><td>2</td><td>Jacob</td></tr>
                        <tr><td>3</td><td>Larry</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
        
