<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>上品茶城管理系统</title>
        <link rel="icon" href="" type="image/x-icon">
        <link href='/shangpinchacheng/app/templates/bower_components/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
        <link href='/shangpinchacheng/app/templates/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css' rel='stylesheet' type='text/css'>
        <link href='/shangpinchacheng/app/templates/css/style.css' rel='stylesheet' type='text/css'>
        
        <script src='/shangpinchacheng/app/templates/bower_components/jquery/dist/jquery.min.js'></script>
        <script src='/shangpinchacheng/app/templates/bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js'></script>
        <script src='/shangpinchacheng/app/templates/js/add-product.js'></script>
    </head>
    <body>
        <header class="dashboard-header">
            <div class="container">
                <div class="col-xs-12">
                    <a href="/">上品茶城管理系统</a>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="col-xs-12">
                <form role="form">
                    <div class="form-group">
                        <label for="name">名称</label>
                        <input type="text" class="form-control" id="name" placeholder="名称">
                    </div>
                    <div class="form-group">
                        <label for="type">种类</label>
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-default" role="button">绿茶</a>
                            <a class="btn btn-default" role="button">红茶</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="weight">重量</label>
                        <input type="text" class="form-control" id="weight" placeholder="重量">
                    </div>
                    <div class="form-group">
                        <label for="level">等级</label>
                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-default" role="button">一等</a>
                            <a class="btn btn-default" role="button">二等</a>
                            <a class="btn btn-default" role="button">三等</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="originalPrice">原价</label>
                        <input type="text" class="form-control" id="originalPrice" placeholder="原价">
                    </div>
                    <div class="form-group">
                        <label for="salePrice">促销价</label>
                        <input type="text" class="form-control" id="salePrice" placeholder="促销价">
                    </div>
                    <div class="form-group">
                        <label for="shopAddress">购买链接</label>
                        <input type="text" class="form-control" id="shopAddress" placeholder="购买链接">
                    </div>
                    <div class="form-group">
                        <label for="status">状态</label>
                        <div class="form-checkbox-control">
                            <input type="checkbox" id="status" checked>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hot">是否热卖</label>
                        <div class="form-checkbox-control">
                            <input type="checkbox" id="hot" checked>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>图文描述</label>
                        <div id="description"></div>
                        <button class="btn btn-default" id="description-add-button">添加</button>
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
        
